body {
    background-color: #f4f4f4;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 35px;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CD0033;
    padding: 0px 60px;
    border-radius: 5px;
    width: calc(100% - 402px);
    ;
    height: 165px;
    top: 0px;
    left: 282px;

}

h2 {
    color: #DADADA;
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    padding-bottom: 80px;
}

.logo-container img {
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.sidebar {
    width: 282px;
    height: 1019px;
    left: 0px;
    top: 0px;
    padding-top: 20px;
    background: #FFFFFF;
    display: inline-block;
    position: fixed;

}

.sidebar ul {
    list-style: none;
    padding: 0;

}

.voce {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #006558;
    color: #006558;
    font-size:20px;
    text-align: center;
}

.voce:hover {
    background-color: #DADADA;
}

#Logout {
    margin-top: 80%;

}

.content {
    flex: 1;
    background-color: #f4f4f4;
    margin-left: 282px;
}


table {
    width: 95%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    border-collapse: collapse;
    font-size:30px;
}

table,
th,
td {
    border: 1px solid #ccc;
    font-size:20px;
}

th, 
td {
    padding: 10px;
    text-align:center;
    font-size:20px;
    cursor: pointer;
}

.cella{
    background-color: #D9D9D9;
}

.status-dot {
    height: 15px;
    width: 15px;
    background-color: #006558;
    border-radius: 50%;
    display: inline-block;
}


.red-bar {
    background-color: #CD0033;
    height: 10px;
    margin-top: 20px;
}

.footer {
    margin-top: 30px;
}
